*{
  text-align: center;
  justify-content: center;
}

.rozhinLogo{
  width: 100px;
  height: 100px;
  border: 1px solid white;
  border-radius: 50%;
}

.rozhin{
  width: 30%;
  border-radius: 50px;
  margin-top: 20px;
  transition: all 300ms;
}
.rozhin:hover{
  border-radius: 30px;
  transform: scale(1.1);
}

.home{
  font-size: 32px;
  color: white;
  margin: 0 40px;
  padding-bottom: 40vh;
}
.aboutMe{
  color: white;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 40px;
}
.aboutMe a{
  margin-top: 30px;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 30px;
}
.project-card{
  margin-top: 80px;
}
.project-card *{
  text-align: left;
}
.project-body{
  margin: 0 40px;
  color: white;
}
.project-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-title{
  border-bottom: 2px dotted white;
  padding-bottom: 30px;
  margin-right: 30px;
}

.project-Pic{
  width: 30%;
  transition: all 300ms;
}
.project-Pic:hover{
  box-shadow: 0 0 10px white;

}
.contact-me{
  padding-bottom: 20vh;
  color: white;
  display: flex;
  margin: 0 40px;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
form{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
form input{
  background-color: rgb(28, 28, 41);
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 20px;
  margin-right: 10px;
}
#In-message{
  height: 50px;
}
form button{
  padding: 18px 50px;
  border-radius: 10px;
  height: 75%;
  width: 95%;
}
